@use "variables" as *;
/* API RESPONSE SECTION (Right Column) ---------------- */

.form-response {
    background-color: $light-accent;
    flex-basis: 48%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 2% 0;
    border-radius: 5px;
}

.img-container {
    max-height: 300px;
    max-width: 300px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

img {
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    width: 300px;
    border: 10px solid $secondary;
    background-color: #15cec27d;
}

.results-text-container,
.results-description {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 90%;
}

.animal-description {
    font-size: $fs-h1;
    text-align: center;
    min-height: 100px;
    min-width: 200px;
    display: grid;
    place-items: center;
    border: 8px solid;
    padding: 1rem;
    border-image: linear-gradient(45deg, $primary, $secondary) 1;
}

.photographer-url {
    padding: 0;
}