@use "variables" as *;
/* API RESPONSE SECTION (Right Column) ---------------- */

.form-response {
    background-color: $light-accent;
    flex-basis: 48%;
    padding: 2% 0;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.img-container {
    max-height: 300px;
    max-width: 300px;
    margin-bottom: 5%;
    text-align: center;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-solid {
    color: $primary;
    font-size: 10rem;
}

img {
    font-family: $heading-font;
    font-size: $fs-body;
    object-fit: cover;
}

.fa-solid,
img {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid $secondary;
    margin: 5% 0 2% 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    animation: loader 5s infinite;
}

@keyframes loader {

    0%,
    40%,
    80%,
    100% {
        opacity: 1;
    }

    20%,
    60% {
        opacity: 0.1;
    }
}

.results-description {
    min-height: 40%;
}

.results-text-container,
.results-description {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.animal-description {
    font-size: $fs-h3;
    text-align: center;
    min-height: 100px;
    min-width: 200px;
    padding: 1rem;
    border: 8px solid;
    display: none;
    place-items: center;
    border-image: linear-gradient(45deg, $primary, $secondary) 1;
}

.photographer-credit,
.photographer-link {
    font-size: $fs-footer;
}

.photographer-credit {
    padding: 5% 0 0 0;
}

.photographer-link {
    margin-bottom: 5%;
}