@use "variables" as *;

/* STYLES BEGIN ----------------------------------------------------------- */
.wrapper {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
}

/* Basic container styling (backgrounds/format) */
.h1-container,
.footer-container {
    background-color: $light-accent;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2% 0;
    border-radius: 5px;
}

/* GLOBAL TYPOGRAPHY STYLES -------------------*/
html {
    font-size: 62.5%;
}

h1,
h3,
p,
legend,
label,
button,
a {
    font-weight: $fw-body;
    color: $dark-accent;
    margin: 0;
    font-size: $fs-a;
    font-family: $a-font;
}

li {
    list-style: none;
    text-align: center;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: $secondary;
}

a:hover,
a:focus {
    color: $primary;
}

h1 {
    text-transform: uppercase;
    font-size: $fs-h1;
    text-align: center;
}

h3 {
    font-size: $fs-h3;
}

h3,
p {
    margin-bottom: 2%;
}

label {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: $fw-body;
    text-transform: uppercase;
    text-align: center;
}

/* MAIN STYLES -----------------------------*/
.container {
    display: flex;
    margin-top: 8%;
    justify-content: space-between
}