@use "variables" as *;

/* HEADER STYLES ---------------------------*/
body {
    background-image: url(../assets/yorkshire-terrier-in-cone-hat-on-white-background.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0;
}