@use "variables" as *;

/* HEADER STYLES ---------------------------*/
body {
    background-image: url(../assets/pexels-sam-lion-5733424.jpg);
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 10% 0;
}