/* MEDIA QUERIES */
@use "variables" as *;

@media (max-width: 850px) {
    .img-container {
        max-height: 250px;
        max-width: 250px;
    }

    img {
        height: 250px;
        width: 250px;
    }

    .fa-solid {
        height: 250px;
        width: 250px;
    }

    .wrapper {
        width: 95%;
    }

    label {
        padding: 10px 16px;
    }

}

@media (max-width: 650px) {
    h1 {
        font-size: 2.8rem;
        padding: 2%;
    }

    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .form-container,
    .form-response {
        width: 100%;
        margin: 3% 0;
        padding: 6% 4%;
    }

    .results-text-container {
        margin: 4% 0;
    }

    .footer-container {
        margin-top: 3%;
        padding: 5% 0;
    }

}