/* site fonts */
$heading-font: 'Quicksand', sans-serif;
$button-font: 'Urbanist', sans-serif;
$a-font: 'Quicksand', sans-serif;
$label-font: 'Arial,Helvetica', sans-serif;
/* site colors */
$primary: #EB5C52;
$secondary: #15CEC1;
$tertiary: #15cec2b3;
$light-accent: rgba(255, 255, 255, 0.85);
$dark-accent: #000;


/* font size */
$fs-h1: 4rem;
$fs-h2: 2.5rem;
$fs-h3: 3rem;
$fs-body: 1.6rem;
$fs-a: 1.8rem;
$fs-footer: 1.6rem;

/* font weight */
$fw-body: 100;